* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: 0 auto;
}
/* CSS NAV */

header {
    display: flex;
}
nav {
    margin-left: auto;
}
nav ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
    display: flex;
    
}
nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 15px 10px;
}
div.logo {
    width:15%;
}
div.logo > img {
    width: 100%;
}

/* CSS BANNER */

section.banner {
    animation: doinen ease 6s infinite;
    
    background-size: 100%;
    background-repeat: no-repeat;
}
section.banner img {
    visibility: hidden;
    width: 100%;
}

@keyframes doinen {
    0% {
        background-image: url(../image/bannerhonda01.png);
    }
    3% {
        background-image: url(../image/bannerhonda02.png);
    }
    70% {
        background-image: url(../image/bannerhonda03.jpg);
    }
}
section.slogan {
    background-color: gold;
    padding: 10px;
    color: white;
    text-align: center;
    
}
section.slogan h1 {
    font-size: 3vw;
}
/* CSS INTRODUCTION  */
section.introduction {
    background-color: lightgray;
    color: gray;
    text-align: center;

}
div.intro01 {
    padding: 15px 10%;
}
h1.underline {
    font-size: 3vw;
}
div.intro01 p {
    margin-top: 50px;
}

h1.underline::after {
    content: "";
    height: 3px;
    width: 7%;
    background-color: gray;
    display: block;
    margin: 20px auto;

}
div.items {
    display: flex;
}
div.item {
    width: 25%;
    padding: 10px;
}
div.item > div {
    background-color: beige;
    padding: 10px;
}
div.item img {
    max-width: 100%;
}

#gototop > a {
    display: block;
    padding: 10px;
    background-color: rgb(0, 0, 255, 0.6);
    color: white;
    text-decoration: none;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 9;
}


ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
ul.tab > li > a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background-color: blue;
    color: white;
    min-width: 120px;
    text-align: center;
    margin-right: 10px;
}
.tab-content > h1 {
    margin: 0;
    padding: 20px 8px;
    background-color: red;
    color: white;
}
.active {
    background-color: red !important;
    
}